<main class="w-screen min-h-screen flex flex-col justify-center items-center bg-slate-400 overflow-x-hidden">

    {{!-- memanggil render --}}
    {{#if firstTime}}
        <div class="w-full absolute top-0 left-0 h-12 bg-orange-400 text-orange flex justify-center items-center">
            <p>Selamat Datang</p>
        </div>
    {{/if}}
    <h1 class="text-2xl text-brown-500 font-light">Express JS - Cookies</h1>
</main>